/* Dark Blue */

$light: #e9ebeb;
$light-hover: #dee0e1;
$light-active: #bcbfc1;
$normal: #263238;
$normal-hover: #222d32;
$normal-active: #1e282d;
$dark: #1d262a;
$dark-hover: #171e22;
$dark-active: #111619;
$darker: #0d1214;
